<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}){faint} %cyan([%-5.5t]){faint} %highlight(%0.-5p) %yellow(%-40.40logger{39}){cyan}: [%mdc] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="auditLogger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%boldMagenta(%d{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}) %highlight(%level)] %red(%logger{15}) : %mdc - %m%n%xEx</pattern>
        </encoder>
    </appender>

    <logger name="no.nav" level="DEBUG"/>
    <logger name="ktor.application" level="DEBUG"/>
    <logger name="io.ktor" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
