name: quotes-backend

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/quotes-backend.yaml
      - .github/workflows/service-pipeline.yaml
      - quotes-backend/**
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/quotes-backend.yaml
      - .github/workflows/service-pipeline.yaml
      - quotes-backend/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    uses: ./.github/workflows/service-pipeline.yaml
    with:
      service-name: quotes-backend
      service-path: ./quotes-backend
      enable-tests: true
      enable-coverage: false
    secrets:
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
